.contact-element {
    font-size: 20px;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}

.contact-element-value {
    font-weight: bold;
}
